
<header id="ABdev_main_header" class="clearfix default">

  <div id="logo_menu_bar">
    <div class="container">
      <div id="logo">
        <a href="{{site.baseurl}}"><img src="{{ "assets/images/logo.png" | prepend: site.baseurl }}" alt="Nimbledroid"></a>
      </div>

      <nav>
        <ul id="main_menu" class="">
          <li class=""><a href="{{site.header.home}}" class=""><span>Home</span></a>
          </li>
          <li class=""><a href="{{site.header.bloghome}}" class=""><span>Return to Nimbledroid.com</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


  <div id="ABdev_menu_toggle">
    <i class="ci_icon-menu"></i>
  </div>

</header>

<div id="ABdev_header_spacer"></div>