<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "images/favicon.ico" | prepend: site.baseurl }}"/>

  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel='stylesheet' id='ABdev_icon_font-css'  href="{{ "css/fonts.css" | prepend: site.baseurl }}" type='text/css' media='all' />
  <link rel='stylesheet' id='ABdev_shortcodes-css' href="{{ "css/dnd-shortcodes.css" | prepend: site.baseurl }}" type='text/css' media='all'/>
  <link rel='stylesheet' id='ABdev_core_icons-css' href="{{ "css/core_style.css" | prepend: site.baseurl }}" type='text/css' media='all'/>
  <link rel='stylesheet' id='main_css-css' href="{{ "css/style.css" | prepend: site.baseurl }}" type='text/css' media='all'/>
  <link rel='stylesheet' id='responsive_css-css' href="{{ "css/main-responsive.css" | prepend: site.baseurl }}" type='text/css' media='all'/>
  <link rel="stylesheet" type="text/css" href="{{ "css/fonts/MyFontsWebfontsKit.css" | prepend: site.baseurl }}"/>
</head>
